<!--Add nav component in the root component-->
<app-nav></app-nav>

<div class="container" style="margin-top: 100px;">
    <app-home></app-home>
</div>






<!-- 
    STUDY NOTES 
    - Additional Notes in nav.component.html
    - The app.component elements are used for the the SPA architecture, all the components are supposed to be here. 
    - The .ts of the app component has the main services we are going to be implementing
    - The app.module.ts is the root component and it has all the packages, imports, etc that we are going to be using throughout the application
    - You invoke the components using the <>/<> tag, it should provide the available components when you open the statement 
        i.e. <app-nav></app-nav>

-->
