<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-primary">
    <div class="container"> 
      <a class="navbar-brand" routerLink="/home" routerLinkActive="active">Dating App</a>
      <!-- Structural directive *: 
      if the property loggedIn in nav.component is true, then show this div, else remove it from DOM -->
      <!-- THIS USES THE OLD WAY 'loggedIn boolean' <ul class="navbar-nav me-auto mb-2 mb-md-0" *ngIf="loggedIn"> -->
      <!-- Using the ASYNC Pipe (RxJS) ( resource | async) - to unsubscribe automatically from the service when logged in-->
      <!-- [NOT LONGER THE CASE]Removing directive: *ngIf="currentUser$ | async" on this UL, to test app/_guards/authGuard -->
      <!-- Setting NG-CONTAINER to host the ul, previously it was 'DIV'. This is better approach because ng container removes the element from the DOM -->
      <ul class="navbar-nav me-auto mb-2 mb-md-0" > 
        <ng-container *ngIf="currentUser$ | async">
          <li class="nav-item">
            <!-- routerLink GOTO => STUDY NOTES (On this page) -->
            <!-- routerLinkActive GOTO => STUDY NOTES (On this page) -->
            <a class="nav-link" routerLink="/members" routerLinkActive="active">Matches</a> 
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/lists" routerLinkActive="active">Lists</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/messages" routerLinkActive="active">Messages</a>
          </li>
        </ng-container>
        <!-- Adding a new list item outside the unordered list so we do not need to check if user is logged in -->
        <li class="nav-item">
          <a class="nav-link" routerLink="/errors">Errors</a>
        </li>
      </ul>      

      <!-- Drop down menu with additional functionality if the user is logged in -->
      <!-- Surrounding observable object with an alias, which can be used for all the children of the container, it can be used by using interpolation {{}} -->
      <!-- Setting a pipe '|' to provide more functionality, in this case, titlecase: which set the initial letter to uppercase -->
      <div  class="dropdown" *ngIf="(currentUser$ | async) as user" dropdown>
        <!-- Adding the current user's image -->
        <img src= "{{user.photoUrl || './assets/user.png'}}" alt="user photo" class="me-2">
        <a id="welcomeButton" class="dropdown-toggle text-light text-decoration" dropdownToggle>Welcome {{user.username | titlecase}}</a>
        <div class="dropdown-menu" *dropdownMenu>
          <!-- routerLink can be anything, as long as this 'path' is the same one as the one in app-routing.module.ts -->
          <a  class="dropdown-item" routerLink="/member/edit">Edit Profile</a>
          <a href="#" class="dropdown-item" (click)="logout()">Logout</a>
        </div>
      </div>
      <!-- #loginForm="ngForm" - Template(.html) Reference Variable - to the component for the usage of the form. It makes a regular form into an angular form-->
      <!-- invoking the login function on form submission -->
      <!-- Hide the form if the user is logged in -->
      <form #loginForm="ngForm" class="d-flex" (ngSubmit)="login()" autocomplete="off" *ngIf="!(currentUser$ | async)">  
        <!-- name - name of the input tracks the name bound to the directive, to be use anyewhere else in JS//TS. NG binds this name to the form to use it throughout -->
        <!-- [(ngModel)] - routing directive that allows for 2 way binding "[()]" with our form, which makes angular so powerful. Always initialize the property used in your directives -->
        <!-- these 2 are requiered to bind an element to an angular form -->
        <input 
            name="username"
            [(ngModel)]="model.username"
            class="form-control me-2" 
            type="text" 
            placeholder="Username">
        <input name="password" [(ngModel)]="model.password" class="form-control me-2" type="password" placeholder="Password" >
        <button class="btn btn-success" type="submit">Login</button>
      </form>
    </div>
</nav>


<!-- Study Notes - Implementation of NG Forms (Directives, Routing, NgModules, Interpolation)
  Converting Form To angular Form 
    1. Use Reference Vairbales
      Set the #loginForm="ngForm" 
      This indicates our form is an angular form 
        - loginForm :ngForm => login form is of type ngForm (directive like)
    2. Map the object to our component by using name
      name = "username"
      This allows us to use our component anywhere by referencing its name 
    3. Stablish 2 way binding 
      [(ngModel)] = "model.username"
      To show data to and to set data from an angular form to our component model 
      - The app routing must be implemented in the root component 
        1. app.module.ts 
        2. imports 
        3. AppRoutingModule
        4. In Imports => import { AppRoutingModule } from './app-routing.module';


  STUDY NOTES - Angular Structural Directives (*)
    1. Allows us to run angular commands 
    2. Think of it as razor syntax (@Html. || @Scripts) to manipulate the DOM using c# 
    3. The directive for angular is '*'
    4. The directive for razor pages is '@'
    5. To use in angular to set conditions 
    6. *ngIf 
    7. It completely removes the object from the DOM, it is not hidden. If the conditions are not met (not on debug => elements)
    8. HERE: If the user is not logged in, then hide all links in the nav bar

    9. IF YOU WANT TO HIDE INSTEAD OF REMOVING 
      1. Instead of the structural directive use the [hidden] event 
      2. [hidden] = condition**
      3. [hidden] = loggedIn ==true 
    10. Example of enhance for loop using angular directives 
      i.e <li *ngFor="let user of users"> 
            UserId = {{user.id}} && UserName = {{user.userName}}
          </li>
        1. From the app.component.ts > Get Users
          1. Stores the value of the response in a property named 'user' which we got access to in the component.html as it is not private 
          2. The .is and .userName must be same name as the one comming from the server (JSON), else it won't work 



  STUDY NOTES - Angular Elements Type 
    Interpolation {{}}:
      1. Allows us to interact with objects from the components (.components.ts)
      2. {{title}} OR {{user.Username}} -> 
      3. Take an element stored in a component and pass it to the HTML 
      4. 1 way binding
      5. Calling a property 

    Data Routing [(ngModel)]:
      => Data Routing 
      => 2 way binding 
      => get the value in the component to the HTML and from the HTML to the component 

    (event) or (click) or (submit)
      => JS inline function invocation
      => Rather that setting an event listener to call a function based on some action
      => the event is mapped directly 


    Drop Down Menu 
      1. dropdown, dropdownToggle, *dropdownMenu (the * indicates that this an angular directive and that it will manipulate/overrite the DOM)
      2. The are all comming from bootstrap ng (https://valor-software.com/ngx-bootstrap/#/components/dropdowns?tab=overview#anchor-trigger)
      3. This is a trigger by <a> (left side menu in the above website)
      4. On top of the page there are 3 menus: Overview , API, Examples 
      5. To install this functionality go to API and follow the steps 
      6. Make sure you are using the right version of angular
      7. Check Compatibility Here: https://valor-software.com/ngx-bootstrap/#/documentation



    Async Pipe (resource | async)
      1. Used to unsubscribe from a service automatically 
      2. In the ng directive, invoke the resource that is being observed 
      3. Use the '| async' keyword next to it
      4. <form #loginForm="ngForm" class="d-flex" (ngSubmit)="login()" autocomplete="off" *ngIf="!loggedIn">  
          1. If the user is noot logged in, do not display the controls (old WAY)
          2. In the new way, by using the pipe it shuold look like this 
            - <form #loginForm="ngForm" class="d-flex" (ngSubmit)="login()" autocomplete="off" *ngIf="!(currentUser$ | async)">  
      5. If you change the constructor access modifier from private to public, you can bypass using another property
              constructor(private accountService: AccountService){ 
          1. Instead of currentUser$ | async it will be 
                this.accountService.currentUser$ | async
      6. For the pipes (|) in general you can use them to implement additional functionality to a variable, how it behaves in the front-end 
          1. In this same page, we are also using the pipe to set the value to Title case
            1. {user.username | titlecase}} => Lisa
          2.  You can also use the pipe to return data as Json (|json)


STUDY NOTES - ROUTING 
  1. 
  
    1. Similar to ActionLink from ASP.NET MVC 
      1. Which allows to re troute when the user hits on a link to another page within the same MVC page 
    2. It belongs to angular routing 
    3. Requieres routing to be active (During project creation OR through CLI, as long as app-routing.module.ts is created) 
    4. You must have the '/' in the name 
      1. <a class="nav-link" routerLink="/lists" >Lists</a>
      2. routerLink can be anything, as long as this 'path' is the same one as the one in app-routing.module.ts
    5. The path comes from the one set up in app-routing.module.ts 
      1. //To display lists => => https://localhost:4200/lists
        {path: 'lists', component: ListsComponent},
      2. routerLink='/lists' => path: 'lists'
      

  2. routerLinkActive = "active"
    1. routerLinkActive is an angular property 
      1. It manipulates the bahavior of the current active menu or the route where you currently are 
    2. 'Active' is a bootstrap class, you can create your own class 
      1. In this case, this class highlights the active route
 -->

